.dark-mode {
  background-color: #121212;
  color: #ffffff;

  * {
    background-color: #1f1f1f;
    color: inherit !important;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #ffffff !important;
  }

  a {
    color: #ffffff !important;
    background-color: #1e1e1e;
    text-decoration: none;

    &:hover {
      color: #ffffff !important;
    }
  }

  .btn {
    background-color: #333333 !important;
    color: #ffffff !important;
    border: 1px solid #bb86fc;

    &:hover {
      background-color: #444444 !important;
    }
  }

  input, textarea, select {
    background-color: #1e1e1e !important;
    color: #ffffff !important;
    border: 1px solid #444444;

    &::placeholder {
      color: #888888;
    }
  }

  table {
    background-color: #1e1e1e !important;
    border-collapse: collapse;

    th, td, tr {
      border: 1px solid #444444;
    }

    th {
      background-color: #1e1e1e;
      color: #ffffff;
    }

    td {
      color: #cccccc;
    }
  }

  #calendar {
    background-color: #1f1f1f !important;
    color: #ffffff !important;

  }

  #historyPanel{
    background-color: #1f1f1f !important;
    color: #ffffff !important;
  }

  .history-item {
    border: 1px solid #bb86fc;

    &:hover {
      background: #bb86fc;
      transform: scale(1.05);
    }
  }

  #historyBtn {
    background-color: #1f1f1f;
    color: #ffffff;
    border: 1px solid #bb86fc;

    &:hover {
      background-color: #333333;
    }
  }

  header {
    background-color: #1e1e1e;
    border-bottom: 1px solid #333333;
  }

  footer {
    background-color: #1e1e1e;
    color: #ffffff;
  }
  header img {
    background: #1e1e1e;
  }

  .fc-header-toolbar, .fc-toolbar, .fc-toolbar-ltr, .fc {
    background-color: #1f1f1f !important;
    color: #ffffff;
  }
  #customization-buttons {
    background-color: #1e1e1e;
  }

  .fc-scrollgrid-sync-inner {
    color: #ffffff;
  }

  .fc-icon {
    background-color: transparent;
  }
}